<div class="jumbotron">
    <h1 class="display-4">Olá, sou Sr.Pet!</h1>
    <hr class="my-4">
    <p>Meu objetivo é conectar você ao melhor serviço possível</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="signin/index" role="button">Cadastrar</a>
    </p>
    <input type="text" placeholder="Seu serviço">
  </div>